annotated-types==0.7.0
argcomplete==3.5.3
bitarray==3.0.0
bitstring==4.3.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
construct==2.10.70
cryptography==44.0.1
Cython==3.0.12
ecdsa==0.19.0
esp-coredump==1.13.1
esp-idf-diag==0.1.1
esp-idf-kconfig==2.4.1
esp-idf-monitor==1.5.0
esp-idf-panic-decoder==1.2.1
esp-idf-size==1.6.1
esp_idf_nvs_partition_gen==0.1.6
esptool==4.9.dev5
freertos-gdb==1.0.4
idf-component-manager==2.1.2
idna==3.10
intelhex==2.3.0
ippserver==0.2
jsonref==1.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
posix_ipc==1.1.1
psutil==7.0.0
pyclang==0.6.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyelftools==0.31
pygdbmi==0.11.0.0
Pygments==2.19.1
pyparsing==3.2.1
pyserial==3.5
python-dotenv==1.0.1
PyYAML==6.0.2
reedsolo==1.7.0
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
six==1.17.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==1.26.20
